{% extends "base.html" %}
{% block title %}Feedback Page{% endblock %}

{% block content %}

<div class="row">
	<div class="col md-10">

            <h1>Feedback Page</h1>

            <form action="{{url_for('feedback')}}" method="POST" enctype="multipart/form-data">                  
                <textarea id="feedback" name="feedback" rows="4" cols="50"></textarea><br>
                <button class="btn btn-primary" type="submit">Send Feedback</button>
            </form> 
                                                           

    </div>
</div>
 
{% endblock %}

