{% extends "base.html" %}
{% block title %}PO SYSTEM{% endblock %}

{% block content %}

<br>
<div style="float:right">
   <form class="form-group" action="{{url_for('poitemsredirect')}}" method="POST">
      <b>Find PO:</b> <input type="text" name="poredirect">
   </form>
   
   <form class="form-group" action="{{url_for('porevision')}}" method="POST">
      <b>Revise PO:</b> <input type="text" name="revisionspo"><br>
      <b>Rev No:</b> <input type="text" name="revisionnumber" size="3"><br>
      <b>Rev Notes:</b> <textarea name="revisionnotes" style="width: 100%; max-width: 100%; color:red;" onchange="this.form.submit()"></textarea>
   </form>

</div>

   <div class="row" style="width:50% ;">

      <div class="col-md-auto">
         <form class="form-group" action="{{url_for('poitemscp')}}" method="POST">
            <div class="form-group">
            <!--SUBMIT ON WTFORM SELECT CHANGE-->
            <b>JOB # </b>           
            {{form.bomjobnumber(**{"onchange":"this.form.submit()"})}}
            <input type="hidden" name="poshipto" value="-">
            <input type="hidden" name="povendor" value="Fleet Service of Tulsa">
            <input type="hidden" name="ponumber" value="000">
            <input type="hidden" name="pobuyer" value="name">
            <input type="hidden" name="pospecialnotes" value="">
            <input type="hidden" name="poshippingnotes" value="">

            </div>
         </form>
      </div>
      <div class="col-md-auto">
         <form action="{{url_for('poitemscp')}}" method="POST" class="form-inline">   
               <b>PO # </b><input type="text" name="ponumber" value={{nextpo}} onchange="this.form.submit()" autocomplete="off"> 
                  </div>
                  <div class="col-md-auto">
                        <b>Creation Date: </b><input type="date" name="pocreated" value="{{today}}">
                  </div>
                  
               </div>

               <div class="row" style="width:50%">
                  <div class="col-md-auto">
                     <b>Vendor: </b>
                     {{formpo.povendor(size=1,**{"onchange":"this.form.submit()"})}}
                     {% for error in formpo.povendor.errors %}
                     <span style="color:red;">
                     {{error}}
                     </span>
                     {% endfor %}
                  </div>
                  <div class="col-md-auto"></div>
                  <div class="col-md-auto">
                     <b>Required Date:</b>
                     <input type="date" value="{{required}}" >
                  </div>
               </div>

               <div class="row" style="width:50%">
                  <div class="col-md-auto">
                     <b>Purchaser:</b> {{formpo.pobuyer(size=1,**{"onchange":"this.form.submit()"})}}
                  </div>
                  <div class="col-md-auto"></div>
                  <div class="col-md-auto">
                     <b>E-mail:</b> {{current_user.email}}
                  </div>
               </div>

               <div class="row" style="width:50%">
                  <div class="col-md-auto">
                     <b>Acct. Code: {{formpo.poaccountcode(size=1)}}</b>
                  </div>
                  <div class="col-md-auto"></div>
                  <div class="col-md-auto">
                     <b>Standard Notes:</b>
                     [PENDING]
                  </div>
               </div>

               <div class="row" style="width:42%">
                  <div class="col">
                     <b>Special Notes:</b><br>
                        <textarea name="pospecialnotes" style="width: 100%; max-width: 100%;" onchange="this.form.submit()">{{specialnotes}}</textarea>
                  </div>
               </div>

               <div class="row" style="width:65%">
                  <div class="col">
                     <div class="form-group">
                     <b>Ship to:</b> 
                     {%if hide != 1%}
                        {{formpo.poshipto(**{"onchange":"this.form.submit()"})}}
                     {%endif%}
                     </div>
                     <input type="hidden" name="bomjobnumber" value={{pojob}}>
                     <textarea id="location" name="location" rows="4" style="width: 100%; max-width: 100%;">{{shipto.locationname}}&#13;&#10;{{shipto.locationaddress}}&#13;&#10;{{shipto.locationcity}}, {{shipto.locationstate}} {{shipto.locationzipcode}}
                     </textarea>

                  </div>

      <div class="col">
         
         <div class="form-group">
            <b>Shipping/Receiving Notes:</b>
         </div>
         <textarea name="poshippingnotes" rows="4" style="width: 100%; max-width: 100%;" onchange="this.form.submit()">{{shippingnotes}}</textarea>

         <div class="form-group">
            <b>FOB</b>                 
            <input type="text" name="fob" value="Prepaid & Allow"> 
         </div>   
      </div>
      <div class="col">
         <div class="form-group">
            <b>On-Site Contact(s):</b><br>
            <b>{{onsitecontact1[0].purchasername}}<br></b>
            {{onsitecontact1[0].purchaserphone}}<br>
            {{onsitecontact1[0].purchaseremail}}<br>
            <b>{{onsitecontact1[1].purchasername}}<br></b>
            {{onsitecontact1[1].purchaserphone}}<br>
            {{onsitecontact1[1].purchaseremail}}<br>
         </div>
   </div>

</form>


                  <form action="{{url_for('poitemscpposave')}}" method="POST" enctype="multipart/form-data">
                     
                     <input type="hidden" name="pospecialnotes" value="{{specialnotes}}">
                     <input type="hidden" name="poshippingnotes" value="{{shippingnotes}}">
                     <input type="hidden" name="pocreated" value="{{pocreated}}">
                     <input type="hidden" name="ponumber" value={{nextpo}}>
                     <input type="hidden" name="poshipto" value="{{shipto.locationname}}">
                     <input type="hidden" name="pojob" value="{{pojob}}">
                     <input type="hidden" name="povendor" value="{{vendor}}">
                     <input type="hidden" name="pojobtype" value="{{pojobtype}}">
                     <input type="hidden" name="pobuyer" value="{{buyer}}">
                     <div class="form-group" >
                        <button class="btn btn-primary" type="submit">Add Items to PO</button>
                     </div>

                  </form>

                  <form action="{{url_for('poitemscppreserve')}}" method="POST" enctype="multipart/form-data">

                     <input type="hidden" name="pospecialnotes" value="{{specialnotes}}">
                     <input type="hidden" name="poshippingnotes" value="{{shippingnotes}}">
                     <input type="hidden" name="pocreated" value="{{pocreated}}">
                     <input type="hidden" name="ponumber" value={{nextpo}}>
                     <input type="hidden" name="poshipto" value="{{shipto.locationname}}">
                     <input type="hidden" name="pojob" value="{{pojob}}">
                     <input type="hidden" name="povendor" value="{{vendor}}">
                     <input type="hidden" name="pojobtype" value="{{pojobtype}}">
                     <input type="hidden" name="pobuyer" value="{{buyer}}">

                     <div class="form-group" >
                        <button class="btn btn-danger" type="submit">Reserve PO No.</button>
                     </div>    
                  </form>
            </div>


   {% endblock %}

   <!--Script for Databases.js-->
   {% block scripts %}
   <script>
      $(document).ready(function () {
         $('#vendoritems').DataTable({
            "order": [],
            "scrollX": false,
            "paging": false,
            columns: [
            {orderable: false},
            {orderable: false},
            {orderable: false, searchable: false},
            {orderable: false, searchable: false},
            {orderable: false, searchable: false},
               ],
         });
      });
   </script>

   <script type="text/javascript">
      {
         $('#refresh-section').load(location.href + " #refresh-section");
      }
   </script>

   {% endblock %}

