{% extends "base.html" %}
{% block title %}Manage Contats Page{% endblock %}

{% block content %}

	<div class="row">
		<div class="col md-10">
			<div>
		<h2>Manage Contacts</h2> <button type="button"  class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add New Contact</button> </h2>

	<table id="purchasers" class="table table-striped display no-wrap table-hover table-sm">
      <thead>
            <tr>
               <th>Job</th>
               <th>Contact Name</th>
               <th>Phone</th>
               <th>Email</th>
               <th>Dept.</th>
               <th>Action</th>
               <th>Delete</th>
            </tr>
         </thead>
      {% for row in purchasers %}
                     <tr>
                        <td>{{row.purchaserjob}}</td>
                        <td>{{row.purchasername}}</td>

                        <td>{{row.purchaserphone}}</td>
                        <td>{{row.purchaseremail}}</td>
                        <td><b>{{row.purchaserposition}}</b></td>

                        <td><a href="/updatepurchaser/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a></td>
                        <td><a href="/deletepurchaser/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">X</a></td>               
   
                     </tr>
   
   
                  <!-- Modal Edit Location-->
                  <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                     <div class="modal-dialog">
                           
                        <div class="modal-content">
                                     
                           <div class="modal-header">
                              <h4 class="modal-title">Update Information</h4> 
                           </div>
                   
                   
                           <div class="modal-body">                  
                              <form action="{{url_for('updatelocation')}}" method="POST" autocomplete="off">             

                                 <div class="form-group">
                                    <label>Name:</label>
                                    <input type="hidden"  name="id" value="{{row.id}}">
                                    <input type="text" class="form-control" name="purchasername" value="{{row.purchasername}}">                
                                 </div>
                                 <div class="form-group">                  
                                    <label>Job:</label>
                                    <input type="text" class="form-control" name="purchaserjob" value="{{row.purchaserjob}}">
                                 </div>    
								         <div class="form-group">                  
                                    <label>Phone</label>
                                    <input type="text" class="form-control" name="purchaserphone" value="{{row.purchaserphone}}">
                                 </div>                                         
                                 <div class="form-group">                  
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="purchaseremail" value="{{row.purchaseremail}}">
                                 </div>   
                                 <div class="form-group">                  
                                    <label>Dept.</label>
                                    <input type="text" class="form-control" name="locationzipcode" value="{{row.purchaserposition}}">
                                 </div>

                                 <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                 </div>               
                   
                              </form>
                           </div>                
                   
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                              
                           </div>                                    
                        </div>                                     
                     </div>                 
                  </div>
                   
                                      {% endfor %}                          
                                  </table>               
                              </div>
 
                  <!-- Modal Add Location-->
 
                  <div id="mymodal" class="modal fade" role="dialog">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                   
                              <h4 class="modal-title">Add Location</h4>
                           </div>
                           <div class="modal-body">
                   
                              <form action="{{url_for('insertlocation')}}" method="POST" autocomplete="off"> 

                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="purchasername">                
                                 </div>
                                 <div class="form-group">                  
                                    <label>Job:</label>
                                    <input type="text" class="form-control" name="purchaserjob">
                                 </div>     
								         <div class="form-group">                  
                                    <label>Phone</label>
                                    <input type="text" class="form-control" name="purchaserphone">
                                 </div>                                         
                                 <div class="form-group">                  
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="purchaseremail">
                                 </div>   
                                 <div class="form-group">                  
                                    <label>Dept.</label>
                                    <input type="text" class="form-control" name="locationzipcode">
                                 </div>
                   
                                 <div class="form-group">              
                                    <button class="btn btn-primary" type="submit">Add Purchaser</button>                               
                                 </div>                             
                              </form>                             
                           </div>
                   
                   
                           <div class="modal-footer">            
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                             
                           </div>               
                        </div>                                   
                     </div>
                   
                   
                  </div>                                                                     
                          </div>                   
                      </div>            

 
 
{% endblock %}

